body {
  margin: 0;
  /* background-color: #f7fafc !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chakra-textarea {
  min-height: 40px !important;
}

.Toastify__toast {
  border-radius: 4px;
  background-color: transparent;
  padding: 0px;
  box-shadow: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  /* border: none; */
}

.Toastify__toast-container {
  margin-top: 50px;
  width: min(380px, 100vw);
}

/* .formcomponents {
  min-width: 250px !important;
  max-width: 250px !important;
} */

button[name="data[submit]"] {
  background-color: #4299e1 !important;
  border-color: #4299e1 !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}
button[name="data[submit]"]:hover {
  background-color: #63b3ed !important;
  border-color: #63b3ed !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}

/* .formio-dialog-content {
  background: red !important;
}

.form-control,
.form-builder-panel,
.ace_content,
.ace_gutter-layer,
.choices__inner,
.choices__input {
  background: red !important;
}

.formcomponent {
  background-color: #4d97e2 !important;
  border-color: #4d97e2 !important;
}
.card.panel {
  background: red !important;
}

.formio-component-form,
.card-header,
.card-body,
.tab-pane {
  background: red !important;
}

.nav-link.active {
  background: black !important;
} */

/* .rs-table-row-expanded {
  height: 200px !important;
} */

.vendors-table-cell {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content-preview {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.content-preview:hover {
  overflow: scroll;
  text-overflow: unset;
  white-space: normal;
  border: 1px dashed #ccc;
  border-radius: 2px;
}

.content-editable {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.content-editable:hover {
  overflow: scroll;
  text-overflow: unset;
  white-space: normal;
}

.BaseTable__row-cell {
  padding: 0;
  border: 1px solid #f5f8fa;
}

/* .BaseTable__row-cell:hover {
  border: 1px dashed #ccc;
  border-radius: 2px;
} */

.BaseTable__row-cell.expand:hover {
  border: 1px solid #f5f8fa;
  border-radius: 2px;
}

.datepicker-input {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

.datepicker-input[data-focus-visible-added=""] {
  outline-width: 0;
  background-color: transparent;
}

.header-cells {
  font-weight: 600;
  background-color: white;
}

.BaseTable__header-cell.green {
  border-bottom: 3px solid;
  border-color: #a8e6cf;
}
.BaseTable__header-cell.lgreen {
  border-bottom: 3px solid;
  border-color: #dbedc1;
}
.BaseTable__header-cell.lorange {
  border-bottom: 3px solid;
  border-color: #ffd4b6;
}
.BaseTable__header-cell.orange {
  border-bottom: 3px solid;
  border-color: #ffaaa4;
}
.BaseTable__header-cell.red {
  border-bottom: 3px solid;
  border-color: #ff8b94;
}
.BaseTable__header-cell.purple {
  border-bottom: 3px solid;
  border-color: #9e99d9;
}
.BaseTable__header-cell.lblue {
  border-bottom: 3px solid;
  border-color: #caeaf6;
}
.BaseTable__header-cell.blue {
  border-bottom: 3px solid;
  border-color: #a0bfe3;
}

.BaseTable__row:hover,
.BaseTable__row--hovered {
  background-color: white !important;
}

.table-button-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.table-button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.table-button:hover {
  background-color: #6dd5ae !important;
}

.vendors-table-cell.active {
  outline-width: 0 !important;
  border: 1px solid #4587ff !important;
  border-radius: 2px !important;
}
