body {
  margin: 0;
  /* background-color: #f7fafc !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chakra-textarea {
  min-height: 40px !important;
}

.Toastify__toast {
  border-radius: 4px;
  background-color: transparent;
  padding: 0px;
  box-shadow: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  /* border: none; */
}

.Toastify__toast-container {
  margin-top: 50px;
  width: min(380px, 100vw);
}

/* .formcomponents {
  min-width: 250px !important;
  max-width: 250px !important;
} */

button[name="data[submit]"] {
  background-color: #4299e1 !important;
  border-color: #4299e1 !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}
button[name="data[submit]"]:hover {
  background-color: #63b3ed !important;
  border-color: #63b3ed !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}

/* .formio-dialog-content {
  background: red !important;
}

.form-control,
.form-builder-panel,
.ace_content,
.ace_gutter-layer,
.choices__inner,
.choices__input {
  background: red !important;
}

.formcomponent {
  background-color: #4d97e2 !important;
  border-color: #4d97e2 !important;
}
.card.panel {
  background: red !important;
}

.formio-component-form,
.card-header,
.card-body,
.tab-pane {
  background: red !important;
}

.nav-link.active {
  background: black !important;
} */

/* .rs-table-row-expanded {
  height: 200px !important;
} */

.vendors-table-cell {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content-preview {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 80px;
  border: 1px solid transparent;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 2px;
}

.content-preview.green {
  color: #7cc63e;
}

.content-preview.blue {
  color: #6597d2;
}

.content-preview.yellow {
  color: #e1ac07;
}

.content-preview.red {
  color: #ff8b94;
}

.content-preview.readonly {
  background-color: #f7fafc;
}
.content-preview.readonly:hover {
  border: 1px dashed transparent;
}

.content-preview:hover {
  overflow: scroll;
  text-overflow: unset;
  white-space: normal;
  border: 1px dashed #ccc;
  border-radius: 2px;
}

.content-editable {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.content-editable:hover {
  overflow: scroll;
  text-overflow: unset;
  white-space: normal;
}

.BaseTable__row-cell {
  padding: 0;
  border: 1px solid #f5f8fa;
}

.BaseTable__row-cell.red-border {
  border-left: 1px solid #f9d7de;
}
.BaseTable__row-cell.light-blue-border {
  border-left: 1px solid #c2f1f1;
}
.BaseTable__row-cell.blue-border {
  border-left: 1px solid #ccdef1;
}

.BaseTable__row-cell.dark-green-3-border {
  border-left: 1px solid #c4dee3;
}

.BaseTable__row-cell.expand:hover {
  border: 1px solid #f5f8fa;
  border-radius: 2px;
}

.datepicker-input {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

.datepicker-input[data-focus-visible-added=""] {
  outline-width: 0;
  background-color: transparent;
}

.header-cells {
  font-weight: 600;
  background-color: white;
}
.header-cells.dark {
  background-color: #21252a;
  color: white;
}

.BaseTable__header-cell.white {
  border-bottom: 3px solid;
  border-color: rgb(238, 235, 235);
}

.BaseTable__header-cell.dark-green {
  border-bottom: 3px solid;
  border-color: #006c7d;
}
.BaseTable__header-cell.dark-green-3 {
  border-bottom: 3px solid;
  border-color: #a2cbd2;
}

.BaseTable__header-cell.green {
  border-bottom: 3px solid;
  border-color: #89e872;
}
.BaseTable__header-cell.yellow {
  border-bottom: 3px solid;
  border-color: #e6f13d;
}
.BaseTable__header-cell.purple {
  border-bottom: 3px solid;
  border-color: #7e55fc;
}
.BaseTable__header-cell.orange {
  border-bottom: 3px solid;
  border-color: #ff7732;
}
.BaseTable__header-cell.salmon {
  border-bottom: 3px solid;
  border-color: #ffbb90;
}
.BaseTable__header-cell.blue {
  border-bottom: 3px solid;
  border-color: #296ef1;
}
.BaseTable__header-cell.blue2 {
  background-color: #2596be;
  color: white;
}

.BaseTable__header-cell.grey2 {
  background-color: #c0bcbc;
  color: rgb(0, 0, 0);
}

.BaseTable__header-cell.biege2 {
  background-color: #c8e4b4;
  color: rgb(0, 0, 0);
}

.BaseTable__header-cell.orange2 {
  background-color: #ffbc04;
  color: rgb(0, 0, 0);
}

.BaseTable__header-cell.blue-2 {
  border-bottom: 3px solid;
  border-color: #598ef4;
}
.BaseTable__header-cell.warm-gray {
  border-bottom: 3px solid;
  border-color: rgb(197, 196, 196);
}
.BaseTable__header-cell.red {
  border-bottom: 3px solid;
  border-color: #e87289;
}

.BaseTable__row:hover,
.BaseTable__row--hovered {
  background-color: white !important;
}

.table-button-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.table-button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vendors-table-cell.active {
  outline-width: 0 !important;
  border: 3px solid blue !important;
  border-radius: 2px !important;
}
.react-datepicker__day--selected {
  background-color: #a5bfe0;
}
.react-datepicker__close-icon::after {
  background-color: #a5bfe0;
}

.BaseTable__body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #e3e3e3;
}

.BaseTable__body::-webkit-scrollbar:vertical {
  width: 13px;
}

.BaseTable__body::-webkit-scrollbar:horizontal {
  height: 13px;
}

.BaseTable__body::-webkit-scrollbar-thumb {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
}

/* .BaseTable__header-cell,
.BaseTable__row-cell,
.BaseTable__body {
  background-color: #21252a !important;
  border: 1px solid #3a414b;
} */

.BaseTable {
  box-shadow: none !important;
}

.BaseTable__row-cell {
  padding: 0 !important;
}

.chakra-tabs__tab:disabled {
  color: #a0afbf !important;
}

.BaseTable .expand {
  padding-left: 15px !important;
}

.rs-table-column-resize-spanner .rs-table-cell {
  border-color: white;
}

.dark-table-row,
.dark-table-row .rs-table-cell {
  color: #abb2bf;
  background: #2c313c;
}
.dark-table .rs-table-cell {
  border-color: #565f70;
}

.dark-table .rs-table-column-resize-spanner {
  border-color: #565f70;
}

.submit-btn-ermv {
  margin-top: 0 !important;
}