body {
  margin: 0;
  /* background-color: #f7fafc !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chakra-textarea {
  min-height: 40px !important;
}

.Toastify__toast {
  border-radius: 4px;
  background-color: transparent;
  padding: 0px;
  box-shadow: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  /* border: none; */
}

.Toastify__toast-container {
  margin-top: 50px;
  width: min(380px, 100vw);
}

/* .formcomponents {
  min-width: 250px !important;
  max-width: 250px !important;
} */

button[name="data[submit]"] {
  background-color: #4299e1 !important;
  border-color: #4299e1 !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}
button[name="data[submit]"]:hover {
  background-color: #63b3ed !important;
  border-color: #63b3ed !important;
  color: white !important;
  border-radius: var(--chakra-radii-md) !important;
  float: right !important;
  margin-bottom: 30px !important;
}

/* .formio-dialog-content {
  background: red !important;
}

.form-control,
.form-builder-panel,
.ace_content,
.ace_gutter-layer,
.choices__inner,
.choices__input {
  background: red !important;
}

.formcomponent {
  background-color: #4d97e2 !important;
  border-color: #4d97e2 !important;
}
.card.panel {
  background: red !important;
}

.formio-component-form,
.card-header,
.card-body,
.tab-pane {
  background: red !important;
}

.nav-link.active {
  background: black !important;
} */

/* .rs-table-row-expanded {
  height: 200px !important;
} */

.vendors-table-cell {
  padding: 0;
  width: 100%;
  height: 100%;
}

.content-editable {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.content-editable.focus-visible {
  outline-width: 0;
  border: 1px solid #4587ff;
  border-radius: 2px;
}

.content-editable:hover {
  overflow: scroll;
  text-overflow: unset;
  white-space: normal;
}

.BaseTable__row-cell {
  padding: 0;
  border: 1px solid #f5f8fa;
}

.BaseTable__row-cell:hover {
  border: 1px dashed #ccc;
  border-radius: 2px;
}

.BaseTable__row-cell.expand:hover {
  border: 1px solid #f5f8fa;
  border-radius: 2px;
}

.datepicker-input {
  outline-width: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  max-height: 80px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

.datepicker-input[data-focus-visible-added=""] {
  outline-width: 0;
  border: 1px solid #4587ff;
  border-radius: 2px;
  background-color: transparent;
}
.react-datepicker__close-icon {
  opacity: 0;
}
.datepicker-input[data-focus-visible-added=""] + .react-datepicker__close-icon {
  opacity: 1;
}
